version: "3.9"

services:
  redis:
    build:
      context: ./redis
      dockerfile: Dockerfile
    container_name: "redis"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    build:
      context: .
      dockerfile: web.Dockerfile
    container_name: "fastapi-app"
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
    ports:
      - "8000:8000"

volumes:
  redis_data: